<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
</head>
<body>
    <form action="/addAuthor" method="POST">
        {% csrf_token %}
        <h1>Add an Author</h1>
        <p>Name: <input type="text" name="name"></p>
        <p>Notes: <input type="text" name = "notes"></p>
        <button>Add Author</button>
    </form>
    <h1>List of Authors</h1>
    {% for Author in Authors %}
    <p>Name: {{Author.name}} - Notes: {{Author.notes}} - <a href="/viewAuthRend/{{Author.id}}">View this Author</a></p>
    {% endfor %}
    <a href="/">Add a Book</a>
</body>
</html>