<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selected book:</h1>
    <form action="/viewBookEdit" method="POST">
        {% csrf_token %}
        <h1>Title: {{Book.title}}</h1>
        <h2>Books Description: {{Book.description}}</h2>
    <br>
    <h3>Authors associated with this book</h3>
    {% for Author in Book.authors.all %}
        {{Author.name}}
    {% endfor %}
    <br>
    <h2>Add an Author to this book</h2>
    <select name="author_id">
        {% for Author in Authors %}
            <option value="{{Author.id}}">{{Author.name}}</option>
        {% endfor %}
    </select>
    <input type=hidden name="book_id" value={{Book.id}}>
    <button>Add this Author</button>
    </form>
</body>
</html>