<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <h1>Selected Author:</h1>
    <form action="/viewAuthEdit" method="POST">
        {% csrf_token %}
        <h1>Name: {{Author.name}}</h1>
        <h2>Notes: {{Author.notes}}</h2>
    <br>
    <h3>Books associated with this Author</h3>
    {% for Book in Book.authors.all %}
        {{Book.title}}
    {% endfor %}
    <br>
    <h2>Add an Book to this Author</h2>
    <select name="book_id">
        {% for Book in Books %}
            <option value="{{Book.id}}">{{Book.title}}</option>
        {% endfor %}
    </select>
    <input type=hidden name="author_id" value={{Author.id}}>
    <button>Add this Book</button>
    </form>
</body>
</html>