<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selected book:</h1>
    <form action="/viewBookEdit" method="POST">
        <h1>Title: {{Book.title}}</h1>
        <h3>Books Description: {{Book.description}}</h3>
    <br>
    <h2>List of Authors</h2>
    {% for Author in Authors %}
        <p>{{Author.name}}</p>
    {% endfor %}
    </form>
</body>
</html>